<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-2 border border-dark">
      <strong>ジャンル検索</strong>
      <div>
        ジャンル
      </div>
    </div>
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 border border-dark">
      ようこそながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </div>
      <h2>新着商品</h2>
      <strong>商品名</strong>
        <%= link_to "全ての商品を見る>" %>
    </div>
  </div>
</div>
